---
- hosts: splunk
  become: yes
  tasks:
    - name: Download Splunk
      get_url:
        # UPDATED LINK: Splunk 9.2.1 (Verified)
        url: "https://download.splunk.com/products/splunk/releases/9.2.1/linux/splunk-9.2.1-78803f08aabb-linux-2.6-x86_64.rpm"
        dest: /tmp/splunk.rpm

    - name: Install Splunk
      yum:
        name: /tmp/splunk.rpm
        state: present

    - name: Enable Splunk Boot Start & Accept License
      command: "/opt/splunk/bin/splunk enable boot-start --accept-license --answer-yes --no-prompt"

    - name: Start Splunk Service
      service:
        name: Splunkd
        state: started